
.section-products {
    .products__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border-top: 1px solid #C1C1C1;
        border-left: 1px solid #C1C1C1;
    }
    
    .product__item {
        &.product__item--medium {
            grid-column: span 2;
        }
    }

    .product__card {
        border-bottom: 1px solid #C1C1C1;
        border-right: 1px solid #C1C1C1;
        padding: 55px 58px 44px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        .card__image {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 54px;
            min-height: 172px;
        }

        .card__title {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.33;
            color: #444;
            margin-bottom: 20px;

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-color: #C1C1C1;
                margin-top: 15px;
            }
        }

        .card__list {
            margin-bottom: 12px;
        }

        .card__footer {

        }

        .card__link{
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            color: #7a7a7a;
            text-decoration: none;
        }

        .list__item {
            &:not(:last-child) {
                margin-bottom: 8px;
            }

            // &:last-child {
            //     margin-top: 12px;
            // }
        }

        .list__link {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            color: #444;
            text-decoration: none;

            &.list__link--all {
                color: #7a7a7a;
            }
        }
    }
}
