<section class="g-section section-products">
    <div class="container">
        <div class="products__container">
            <div class="product__item">
                <div class="product__card">
                    <div class="card__image">
                        <img src="images/section_03/01.png" alt="first photo">
                    </div>
                    
                    <p class="card__title">
                        Мойки и смесители
                    </p>

                    <ul class="card__list">
                        <li class="list__item">
                            <a class="list__link" href="#">Мойки кухонные</a>
                        </li>
                        <li class="list__item">
                            <a class="list__link" href="#">Смесители</a>
                        </li>
                        <li class="list__item">
                            <a class="list__link" href="#">Аксессуары</a>
                        </li>
                        <li class="list__item">
                            <a class="list__link list__link--all" href="#">Показати ще</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product__item product__item--medium">
                <div class="product__card">
                    <div class="card__image">
                        <img src="images/section_03/02.png" alt="second photo">
                    </div>
                    
                    <p class="card__title">
                        Профиль для каркасных конструкций CARDO
                    </p>

                    <ul class="card__list">
                        <li class="list__item">
                            <a class="list__link" href="#">Профили CADRO</a>
                        </li>
                        <li class="list__item">
                            <a class="list__link" href="#">Комплектующие к каркасной системе CADRO</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product__item">
                <div class="product__card">
                    <div class="card__image">
                        <img src="images/section_03/03.png" alt="third photo">
                    </div>
                    
                    <p class="card__title">
                        Светильники мебельные
                    </p>

                    <ul class="card__list">
                        <li class="list__item">
                            <a class="list__link" href="#">Светодиодные светильники</a>
                        </li>
                        <li class="list__item">
                            <a class="list__link" href="#">Галогенные светильники</a>
                        </li>
                        <li class="list__item">
                            <a class="list__link" href="#">Выдвижные блоки розеток</a>
                        </li>
                        <li class="list__item">
                            <a class="list__link list__link--all" href="#">Показати ще</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product__item product__item--medium">
                <div class="product__card">
                    <div class="card__image">
                        <img src="images/section_03/03.png" alt="third photo">
                    </div>

                    <p class="card__title">
                        Светильники мебельные
                    </p>

                    <ul class="card__list">
                        <li class="list__item">
                            <a class="list__link" href="#">Светодиодные светильники</a>
                        </li>
                        <li class="list__item">
                            <a class="list__link" href="#">Галогенные светильники</a>
                        </li>
                        <li class="list__item">
                            <a class="list__link" href="#">Выдвижные блоки розеток</a>
                        </li>
                        <li class="list__item">
                            <a class="list__link list__link--all" href="#">Показати ще</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product__item">
                <div class="product__card">
                    <div class="card__image">
                        <img src="images/section_03/03.png" alt="third photo">
                    </div>
                    
                    <p class="card__title">
                        Светильники мебельные
                    </p>

                    <ul class="card__list">
                        <li class="list__item">
                            <a class="list__link" href="#">Светодиодные светильники</a>
                        </li>
                        <li class="list__item">
                            <a class="list__link" href="#">Галогенные светильники</a>
                        </li>
                        <li class="list__item">
                            <a class="list__link" href="#">Выдвижные блоки розеток</a>
                        </li>
                    </ul>
                    <div class="card__footer">
                        <a class="card__link" href="#">Показати ще</a>
                    </li>
                </div>
            </div>
            </div>
            <div class="product__item">
                <div class="product__card">
                    <div class="card__image">
                        <img src="images/section_03/03.png" alt="third photo">
                    </div>
                    
                    <p class="card__title">
                        Светильники мебельные
                    </p>

                    <ul class="card__list">
                        <li class="list__item">
                            <a class="list__link" href="#">Светодиодные светильники</a>
                        </li>
                        <li class="list__item">
                            <a class="list__link" href="#">Галогенные светильники</a>
                        </li>
                        <li class="list__item">
                            <a class="list__link" href="#">Выдвижные блоки розеток</a>
                        </li>
                    </ul>
                    <div class="card__footer">
                        <a class="card__link" href="#">Показати ще</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
